# Web Server
Flask==1.0.2
Flask-API==1.1

# Runtime
gunicorn==19.9.0
honcho==1.0.1

# Database
Flask-SQLAlchemy==2.3.2
SQLAlchemy==1.3.2
psycopg2-binary==2.8.1

# Code Quality
pylint==2.3.1
flake8==3.7.7

# Testing
factory_boy==2.11.1
nose==1.3.7
pinocchio==0.4.2
rednose==1.3.0
httpie==1.0.2
pytest==4.4.0

# Code Coverage
coverage==4.5.3
codecov==2.0.15
pytest-cov==2.6.1

# Environment
environs==4.1.0
